# Lista de dependencias para el proyecto Texto a Voz
# Se puede instalar todo con: pip install -r requirements.txt

gTTS                       #Convertir texto a audio.
langdetect                 #Detectar el idioma del texto.
googletrans==4.0.0-rc1     #Traducir a otros idiomas.
summa                      #Generar resúmenes multilingües. 
trafilatura                #Extraer texto de paginas WEB.
jieba                      #Segmentar texto en chino.
